@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,600;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-size: 15px;
    height: 100vh;
    /* background: linear-gradient(to bottom right, #ec729c, #e7abc0); */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

/* order header  */
.order {
    margin-left: 40px;
}

.order-title {
    text-align: center;
    margin-top: 10px;
    color: #ec729c;
    font-size: 46px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

::-webkit-scrollbar{
    display: none;
}

#header .address{
    font-size: 20px;
    
}

#map{
    font-size: 25px;
    color: #ec729c;
}

.your-address{
    background: #ec729c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.add-box i{
    font-size: 20px;
}

#header select{
    width: 150px;
    overflow: hidden;
    border: none;
    outline: none;
    background: none;
    color: #ec729c;
    padding: 0 5px;
}

.food-items{
    display: none;
}

.cart-toggle {
    display: none;
}

.util i,.user i{
    font-size: 18px;
    margin: 0 16px;
    border: 1px solid #ec729c;
    padding: 8px 16px;
    color: #ec729c;
    border-radius: 20px;
    cursor: pointer;
}

.util {
    margin-right: 30px;
}

.util i:active{
    color: white;
    background: #ec729c;
}


/* Menu/Order */



#card-container {
    background: #fdddeb;
    width: 190px;
    height: 280px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    transition: 0.5s all step-end;
}

#card-img:hover img{
    transform: scale(1.1);
}

#card-img img{
    width: 125px;
    height: 125px;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
}

#rice,#drinks,#dessert,#appetizer,#entree {
    margin-top: 40px;
}

#appetizer #card-container{
    background: #dbceef;
}

#entree #card-container {
    background: #ced8ef;
}

#dessert #card-container {
    background: #fdfdcb;
}


#drinks #card-container {
    background: #e8f4ea;
}

#category-name {
    margin: 10px;
    font-size: 35px;   
    color: #ec729c;
    font-family: 'Aclonica', sans-serif;
    font-weight: 600;
}

#card-top{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
#rating{
    padding: 7px;
    color: goldenrod;
    background: black;
    font-size: 14px;
    border-radius: 15px;
}

#favorite {
    cursor: pointer;
    background: white;
    border-radius: 50%;
    padding: 6px;
}

.toggle-heart {
    color: red;


}


.food-name {
    border: 1px sold;

}

#item-name{
    margin: 5px 0;
    color: #202020;
    font-size: 16px;
    font-weight: 600;
}

#item-price{
    margin: 0;
    color: #202020;
    font-weight: 400;
    font-size: 16px;
}



/* Quick links */

#quick-links {
    width: 20%;
    height: 150%;
    float: right;
    padding-left: 30px;
    /* background-color: #1687d9; */
}

.quick {
    position: sticky;
    top: 0;
}

.quick-name {
    color: #ec729c;
    font-size: 32px;
    font-weight: 600;
    margin-top: 15px;
}

.border {
    width: 80px;
    height: 4px;
    margin: 3px 0;
    margin-bottom: 30px;
    background: #ec729c;
    border-radius: 2px;
}

.list-card {
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.list-card:hover {
    background: rgb(255, 222, 248);
}

.list-card:hover img {
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
}

.list-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.list-name {
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(94, 42, 87);
}



/* Cart */

#cart-page{
    background: white;
    margin: 40px 10px;
    margin-right: 50px;
    padding: 20px 30px;
    padding-bottom: 30px;
    position: relative;
}
#cart-title{
    font-size: 35px;
    margin: 0;
    color: #ec729c;
}
#cart-page table{
    /* width: 100%; */
    margin-top: 20px;
    text-align: center;
}
#cart-page table thead td{
    font-size: 25px;
    padding-bottom: 10px;
}

.cart-btn{
    outline: none;
    border: none;
    background: #ec729c;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;
}
#cart-page table tbody td{
    padding: 10px 0;
    font-size: 20px;
}
#cart-page table tbody button{
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    background: lightcoral;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
}
#cart-page table tbody img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
#checkout{
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    background: white;
    padding: 10px 20px;
}
#checkout p{
    margin: 15px 0;
    float: left;
}
#total-price,#total-item{
    font-size: 25px;
    color: #ec729c;
}

#delievery{
    width: 30%;
    /* border: 1px solid; */
    font-size: 20px;
    color: limegreen;
    padding-top:  5px;
}
#cart{
    background: whitesmoke;
    padding-right: 30px;
    overflow-y: scroll;
}

.item-menu{
    margin: 0;
    font-size: 30px;
    margin-top: 40px;
    color: #ec729c;
    background: whitesmoke;
    
}
.list-card{
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.list-card:hover{
    background: rgb(255, 216, 222);
}
.list-card:hover img{
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
}
.list-card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.list-name{
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(94, 43, 43);
}
.taste-header{
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
}
#mobile-view{
    display: none;
}
#biryani{
    margin-top: 10px;
}
#m-total-amount{
    display: none;
}
