@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,600;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-size: 15px;
    height: 100vh;
    /* background: linear-gradient(to bottom right, #ec729c, #e7abc0); */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

/* order header  */
.order {
    margin-left: 40px;
}

.order-title {
    text-align: center;
    margin-top: 10px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

::-webkit-scrollbar{
    display: none;
}

#header .address{
    font-size: 20px;
    
}

#map{
    font-size: 25px;
    color: #ec729c;
}

.your-address{
    background: #ec729c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.add-box i{
    font-size: 20px;
}

#header select{
    width: 150px;
    overflow: hidden;
    border: none;
    outline: none;
    background: none;
    color: #ec729c;
    padding: 0 5px;
}

.food-items{
    display: none;
}

.cart-toggle{
    display: block;
}

.util i,.user i{
    font-size: 18px;
    margin: 0 16px;
    border: 1px solid #ec729c;
    padding: 8px 16px;
    color: #ec729c;
    border-radius: 20px;
    cursor: pointer;
}

.util {
    margin-right: 30px;
}

.util i:active{
    color: white;
    background: #ec729c;
}


/* Menu */

.order {

}

#card-container {
    background: #fdddeb;
    width: 190px;
    height: 280px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    transition: 0.5s all step-end;
}

.card-img:hover img{
    transform: scale(1.1);
}

.card-img img{
    width: 125px;
    height: 125px;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
}

#rice,#drinks,#dessert,#appetizer,#entree {
    margin-top: 40px;
}

#appetizer #card-container{
    background: #dbceef;
}

#entree #card-container {
    background: #ced8ef;
}

#dessert #card-container {
    background: #fdfdcb;
}


#drinks #card-container {
    background: #e8f4ea;
}

#category-name {
    margin: 10px;
    font-size: 35px;   
    color: #ec729c;
    font-family: 'Aclonica', sans-serif;
    font-weight: 600;
}

#card-top{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
#rating{
    padding: 7px;
    color: goldenrod;
    background: black;
    font-size: 14px;
    border-radius: 15px;
}

#favorite {
    cursor: pointer;
    background: white;
    border-radius: 50%;
    padding: 6px;
}

.red-heart {
    color: orangered;
}


.item-name {
    border: 1px sold;

}

#food-name{
    margin: 5px 0;
    color: #202020;
    font-size: 16px;
    font-weight: 600;
}

#food-price{
    margin: 0;
    color: #202020;
    font-weight: 400;
    font-size: 16px;
}



/* Quick links */

#quick-links {
    width: 20%;
    height: 150%;
    float: right;
    padding-left: 30px;
    /* background-color: #1687d9; */
}

.quick {
    position: sticky;
    top: 0;
}

.quick-name {
    color: #ec729c;
    font-size: 32px;
    font-weight: 600;
    margin-top: 15px;
}

.border {
    width: 80px;
    height: 4px;
    margin: 3px 0;
    margin-bottom: 30px;
    background: #ec729c;
    border-radius: 2px;
}

.list-card {
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.list-card:hover {
    background: rgb(255, 222, 248);
}

.list-card:hover img {
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
}

.list-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.list-name {
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(94, 42, 87);
}



/* Cart */

.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}   

.cart-container{
    width: 50%;
    height: 75%;
    margin: 30px;
    background-color: #fdfdcb;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 15px;
    font-weight: 600;
}

.action {
    color: #E44C4C;
    cursor: pointer;
    font-size: 11px;
    border-bottom: 1px solid #E44C4C;
}

.about {
    height: 100%;
    width: 24%;
}

.img-box{
    width: 15%;
    text-align: center;

}

.title{
    padding-top: 10px;
    line-height: 10px;
    font-size: 28px;
    font-family: 'Open Sans';
    font-weight:  700;
    color: #202020;
}
.subtitle{
    line-height: 10px;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 500;
    margin-top: 15px;
    color: #909090;
}

.counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-img{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-p{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e6e4e4;
    box-shadow: rgba(0, 0, 0, 0.56) 10px 22px 70px 4px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}
.count{
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.prices{
	height: 100%;
	text-align: right;
}
.amount{
	padding-top: 20px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.save{
	padding-top: 5px;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}
.remove{
	padding-top: 5px;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
}

.pad{
	margin-top: 5px;
}

hr{
	width: 66%;
	float: right;
	margin-right: 5%;
}
.checkout{
	float: right;
	margin-right: 5%;
	width: 28%;
}
.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.items{
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount{
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background:#ec729c;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

/* Media Queries */

@media (min-width: 768px) {
    .cart-container {
        width: 70%; 
        height: 80%; 
    }

    .header {
        width: 100%; 
    }

    .title{
        font-size: 14px;
    }
}

@media (min-width: 1366px) {
    .cart-container {
        width: 80%;
        height: 80%;
    }

    .header {
        width: 100%; 
    }

    .title{
        font-size: 16px;
    }
}

